.col {
  margin-top: 30px;
}

.form-control:focus {
  box-shadow: none !important;
  border: 2px solid black !important;
}

select:focus {
  border: 2px solid black !important;
  box-shadow: none !important;
}


.react-tel-input .form-control {
  width: 100%;
}


/* dynamic dropdown: */
option[disabled] {
  display: none;
}

@media (max-width: 560px) {
  #team{
    margin-left:12px;
  }
}

/*  */
.react-tel-input .form-control {
  font-size: 17px;
  height: 58px;
}


@media only screen and (max-width: 361px) {
  .react-tel-input .form-control {
      width: 211px !important;
  }
}

@media (min-width:362px) and (max-width: 376px) {
  .react-tel-input .form-control {
      width: 230px !important;
  }
}

@media (min-width:377px) and (max-width: 400px) {
  .react-tel-input .form-control {
      width: 242px !important;
  }
}

@media (min-width:401px) and (max-width: 427px) {
  .react-tel-input .form-control {
      width: 268px !important;
  }
}

@media (min-width:428px) and (max-width: 530px) {
  .react-tel-input .form-control {
      width: 280px !important;
  }
}

@media (min-width:531px) and (max-width: 600px) {
  .react-tel-input .form-control {
      width: 393px !important;
  }
}