td {
  border-style: none;
}

.form-control:focus {
  box-shadow: none !important;
  border: 2px solid black !important;
}

select:focus {
  border: 2px solid black !important;
  box-shadow: none !important;
}

.noDataStaffImg {
  width: 50%;
}

/* @media (max-width:450px) {

  img,
  svg {
    width: 300px;
  }
} */



@media (min-width:495px) and (max-width: 992px) {
  .updates {
    margin-top: -5px;
  }

}

@media (min-width:300px) and (max-width:992px) {
  .previouss {
    margin-bottom: 2px;
  }
}


/* defaultly pagination row size is aligned at bottom:to properly align: */
.css-16c50h-MuiInputBase-root-MuiTablePagination-select {
  margin-top: -15px !important;
}

/* defaultly arrows in pagination aligned bottom:to properly align: */
.css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar .MuiTablePagination-actions {
  margin-top: -17px;
}

/* To align pagination (build issue) */
.css-1chpzqh {
  margin-top: 17px;
}