/* @media only screen and (min-width: 992px) {
    .dynamicRadioField {
        margin-left: -27px;
    }

    .dynamicQtyField {
        margin-left: 103px;
    }
}

@media only screen and (max-width: 992px) {
    .dynamicRadioField {
        margin-left: -30px;
    }
    .dynamicQtyField{
        margin-left:30px;
    }
}


@media only screen and (max-width: 767px) {
    .dynamicRadioField {
        margin-left: -1px;
    }

    .dynamicQtyField {
        margin-left: 25px;
    }

}

@media only screen and (max-width: 576px) {
   .dynamicQtyField{
    margin-left:0px !important;
    margin-top:40px;
   }
} */

.form-check {
    padding-right: 2rem;

}

.dynamicRadioField {
    display: flex;
    align-items: center;
}

.dynamicQtyField {
    margin-left: 1rem;
}

.dynamicMargin {
    margin-top: 1rem;
}

.radioNotProvided{
    margin-left:20px;
    margin-top:-6px;
}

.radioProvidedBtn{
    margin-left:15px;
    margin-top:-6px;
}

.radioNotProvidedBtn{
    margin-left:108px;
    margin-top:-22px;
}