.col {
  margin-top: 30px;
}

.row {
  margin-right: 30px;
}

@media only screen and (max-width: 500px) {

  .fontSize {
    font-size: 14px;
  }

}

.form-control:focus {
  box-shadow: none !important;
  border: 2px solid black !important;
}

select:focus {
  border: 2px solid black !important;
  box-shadow: none !important;
}

/*  */
@media (min-width:545px) and (max-width: 992px) {
  .updateP {
    margin-top: -7px;
  }

  .previousP {
    margin-bottom: 20px;
  }

}

@media (max-width: 495px) {
  .updateP {
    margin-top: 1px !important;
  }

  .previousP {
    margin-left: 3px;
  }
}

/*  */
.react-tel-input .form-control {
  font-size: 17px;
  height: 58px;
}


@media only screen and (max-width: 361px) {
  .react-tel-input .form-control {
    width: 211px !important;
  }
}

@media (min-width:362px) and (max-width: 376px) {
  .react-tel-input .form-control {
    width: 167px !important;
  }
}

@media (min-width:377px) and (max-width: 400px) {
  .react-tel-input .form-control {
    width: 242px !important;
  }
}

@media (min-width:401px) and (max-width: 427px) {
  .react-tel-input .form-control {
    width: 268px !important;
  }
}

@media (min-width:428px) and (max-width: 530px) {
  .react-tel-input .form-control {
    width: 280px !important;
  }
}

@media (min-width:531px) and (max-width: 600px) {
  .react-tel-input .form-control {
    width: 393px !important;
  }
}