.col {
  margin-top: 30px;
}

.row {
  margin-right: 30px;
}

.css-qbdosj-Input {
  padding-top: 20px !important;
}

.css-t3ipsp-control {
  border-color: black !important;
  box-shadow: none !important;
}

.css-t3ipsp-control:hover {
  border-color: black !important;
  border-width: 2px;
}


/*  */
@media (min-width:545px) and (max-width: 992px) {
  .updateP {
    margin-top: -7px;
  }

  .previousP {
    margin-bottom: 20px;
  }

}

@media (max-width: 495px) {
  .updateP {
    margin-top: 1px !important;
  }

  .previousP {
    margin-left: 3px;
  }
}

/* npm country-state-city (build align issue) */
.css-13cymwt-control {
  height: 56px;
}

@media (min-width:200px) and (max-width:451px) {
  /* .css-1u9des2-indicatorSeparator{
    background-color: white;

  } */
  /* .css-tj5bde-Svg {
    display: none;
  } */
  img,
  svg {
    width: 0px;
  }

  .css-1xc3v61-indicatorContainer {
    display: none !important;
  }

}